*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-font: "rubik", Sans-Serif;
    --grisoscuro: #54585a;
    --gristransp: rgba(0, 0, 0, 0.08); /*solo para borde de las fotos*/
    --verdeclaro: #14d9c4;
    --verdeoscuro: #099d8d;
    --grisfondo: #b8b8b9;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h1 {
    font-family: var(--brand-font);
}

.equipo {
    font-family: var(--brand-font);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    gap: 30px;
}

.tituloequipo {
    display: block;
    font-size: 24px;
    color: var(--verdeclaro);
    padding: 5px;
}

.textequipo {
    display: block;
    font-size: 16px;
    color: var(--grisoscuro);
}

.textequipo p {
    text-align: center;
    margin-bottom: 15px;
}
