.banner{
    display:flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .photobanner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .imgbanner{
    display: block;
    flex-direction: column;
    width: 100%;
    opacity:0.9;
  } 

  .rectangulo{
    position:sticky;
    padding:10px;
    width:80%;
    background-color: #fff;
    transform: translate(10%,-100%);
    opacity: 0.9;
  }
 
  h4{
    align-items: center;
    font-family:var(--opensans);
    color:var(--brand-font) ;
    font-size: 18px;
    line-height: 1.39;
  }
  

  @media all and (min-width: 780px){

    .imgbanner{
        display:flex;
        align-items: center; 
    }
    .photobanner{
      display: flex;
      width: 100vw;
    }
    .banner{
        display:flex;
        margin-left: auto;
        margin-right: auto;
    }
    .rectangulo{
      display: flex;
      align-items: center;
      padding:50px;
      transform: translate(3%,-100%);
      }
    }
    
  
  

@media all and (min-width: 1200px){

    .imgbanner{
        display:flex;
        align-items: center;
        width: 100vw;

    }
    .photobanner{
      display: flex;
      width: 100vw;
    }
    .banner{
       width: 100%;
        display:flex;
        margin-left: auto;
        margin-right: auto;

    }
    .rectangulo{
      display: flex;
      align-items: center;
      padding:50px;
      transform: translate(3%,-100%);
      
     
    }
    h4{
      font-size: 24px;
      text-align: center;
      padding-left:15%;
    }
    }

@media all and (min-width: 1800px){

  .imgbanner{
       align-items: center;
      justify-content: center;
      width: 100vw;
  

  }
  .photobanner{  
     display: flex;
      width: 100vw;
  }
  .banner{
      display:flex;
      margin-left: auto;
      margin-right: auto;

  }

  }
