*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-font: "Rubik", Sans-Serif;
    --grisoscuro: #54585a;
    --gristransp: rgba(0, 0, 0, 0.08); /*solo para borde de las fotos*/
    --verdeclaro: #14d9c4;
    --verdeoscuro: #099d8d;
    --grisfondo: #b8b8b9;
}

@import "header.scss";
@import "banner.scss";
@import "footer.scss";

body {
    font-family: var(--brand-font);
    
}

.contacto {
    padding: 15px;
    display: block;

    @media screen and (width> 767px) {
        padding-top: 50px;
        padding-left: 180px;
        padding-right: 180px;
        padding-bottom: 100px;
    }

    @media screen and (width> 1200px) {
        padding-left: 299px;
        padding-right: 299px;
        
    }
}

.h2 {
    color: var(--verdeoscuro);
    font-size: 24px;
    font-weight: 450px;
    text-align: center;
    line-height: 45px;
    
    &__p1 {
        color: var(--grisfondo);
        font-family: var(--name-font);
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        &-p2{
            font-size: 12px;
            line-height: 24px;
            color: var(--grisoscuro);
            text-align: center;
            margin-top: 20px;
        }
    }   
}

.asterisk{
    color: var(--verdeclaro);
}

form {
    margin-top: 58px;
    font-family: var(--name-font);
    font-size: 14px;
    color: var(--grisoscuro);
    font-weight: lighter;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    
    

    &_field{
        border: solid 1px var(--grisfondo);
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 11px;
        padding-bottom: 15px;
        margin-bottom: 13px;
        font-family: var(--name-font);
        color: var(--grisfondo);
    }

    ::placeholder{
        font-family: var(--name-font);
        color: var(--grisfondo);
    }
}

.emailPhone {
    @media screen and (width> 1200px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.email {
    @media screen and (width> 1200px) {
        width: 65%;
    }
}

.phone {
    @media screen and (width> 1200px) {
        width: 30%;
    }
}

.boton {
    text-align: center;
    background-color: var(--verdeoscuro);
    color: #ffffff;
    font-family: var(--brand-font);
    font-size: 16px;
    border: solid 1px var(--verdeoscuro);
    border-radius: 4px;
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    @media screen and (width> 767px) {
        width: 50%;
        float: right;
    }

    @media screen and (width> 1200px) {
     
    }
   
}
.boton:hover{
    border-radius: 0px;
   
}