.equipo {
    font-family: var(--brand-font);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    gap: 30px;
}

.tituloequipo {
    display: block;
    font-size: 24px;
    color: var(--verdeclaro);
    padding: 5px;
}

.textequipo {
    display: block;
    font-size: 16px;
    color: var(--grisoscuro);
}

.textequipo p {
    text-align: center;
    margin-bottom: 15px;
}

@media all and (min-width: 768px) {
    .equipo {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 30px;
    }

    .textequipo {
        font-size: 16px;
    }

    .tituloequipo {
        font-size: 24px;
    }
}

@media all and (min-width: 1200px) {
    .equipo {
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 60px;
    }
}