.fortdeb {
    display: flex;
    align-items:center;
    flex-direction: column;
}
.bordesDiagonales {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: -1px;
}

.bordeSuperiorDerechoDiagonal {
    flex-grow: 1;
    background-color: #f1f1f1;;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
}
.bordeSuperiorIzquierdoDiagonal {
    flex-grow: 1;
    background-color:  #f1f1f1;;
    clip-path: polygon(100% 0, 10% 0, 0% 100%, 100% 100%);
}

.parte3 {
    text-align: center;
    font-family: var(--brand-font);
}

.tituloFortalezas {
    color: #099d8d;
    padding: 20px 15px 15px 15px;
    background-color:#f1f1f1;
}
.tituloDebilidades {
    color: #099d8d;
    padding: 35px 15px 15px 15px;
    background-color:#f1f1f1;
}

.conte3 {
    color: #54585a;
    background-color: #f1f1f1;
    padding: 0 5vw;
    padding-bottom: 2vw;
}
    
@media all and (min-width: 768px) {
  
    .fortdeb {
        flex-direction: row;
    }
   
}
@media all and (min-width: 1200px) {
    .fortdeb {
        flex-direction: row;
    }
}