.quienessomos {
    font-family: var(--brand-font);
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    
}

.quienessomos h2{
    font-family: var(--brand-font);
    font-weight: 500;
    font-size: 24px;
    color: var(--verdeoscuro);
    margin-bottom: 30px;
}

.namecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.photo {
    width: 180px;
    height: 180px;
    border: 4px solid #b8b8b9;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;

    @media screen and (min-width: 768px) {
        height: 207px;
        width: 207px;
        border: 4px solid #b8b8b9;
        border-radius: 4px;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 1200px) {
        height: 278px;
        width: 278px;
        margin-left: 0;
        margin-right: 0;
    }
}

.text-quien {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-quien h4 {
    font-size: 20px;
    font-family: var(--name-font);
    font-weight: 400;
    text-align: center;
    line-height: 45px;
}

.text-quien p{
    font-size: 16px;
    font-family: var(--name-font);
    color: var(--grisoscuro);
    width: 290px;
    text-align: center;
    padding: 10px;
    line-height: 24px;
}

.redes {
    list-style: none;
    font-size: 16px;
    display: flex;
    width: 124px;
    justify-content: space-between;
}

.fa-brands, .fa-solid {
    color: var(--verdeoscuro);
}

@media screen and (min-width: 768px){
    .quienessomos {
        display: block;
    }
    .quienessomos h2{
        text-align: center;
    }
    .namecard1 {
        display: flex;
        flex-direction: row;
        padding-left: 44px;
        &text-quien {
            align-items: flex-start;
        }
    }
    .namecard2 {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 44px;
        &text-quien {
        align-items: flex-end;
        }
        &text-quien h4 {
            text-align: right;
        }
    }
}
@media screen and (min-width: 1200px){
    .namecard1 {
        display: flex;
        flex-direction: row;
        padding-left: 138px;
        align-items: flex-start;
    }
    .namecard2 {
        display: flex;
        flex-direction: row-reverse;
        padding-right: 138px;
        align-items: flex-start;
    }
}
