<section class="equipo" id="equipo">
    <h2 class="tituloequipo">EQUIPO</h2>
    <div class="textequipo">
        <p>
            Las Spice Girls llegan al mundo de la tecnología y programación para revolucionarlo. Para hacer frente a todos aquellos tech-bros y los techos de cristal que hasta ahora nos hemos enfrentado. Las mujeres desarrolladoras vienen pisando fuerte y vienen a quedarse.
        </p>
        <p>
            Formado por cinco mujeres de vidas totalmente distintas; de países diferentes, de carreras opuestas, y de estilos quizás a veces contradictorios, pero con un objectivo común. La misión es aportar todas las experiencias y conocimientos a cualquier reto que se nos proponga. Y estamos listas para aceptarla. Girl Power!
        </p>
    </div>
</section>