<section class="equipo" id="equipo">
    <h2 class="tituloequipo">EQUIPO</h2>
    <div class="textequipo">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati ipsam, placeat veritatis facilis
            sapiente harum porro sed in sunt iste consectetur quas, ut dolorem quibusdam. Distinctio quidem modi
            expedita corrupti.
        </p>
        <p>
            Tenetur beatae, eos harum, enim optio accusantium libero numquam vero ea molestias sunt assumenda
            vel porro iste ullam, distinctio veniam quod soluta nemo quidem quas laboriosam in laborum deleniti!
            Optio?
           
        </p>
    </div>
</section>