<footer>
    <h6 class="license">Spice Developers © 2024</h6>
    <nav class="navfooter">
        <ul class="menufooter">
            <li><a href="./index.html#equipo" class="link2">EQUIPO</a></li>
            <li><a href="./index.html#quienessomos" class="link2">QUIÉNES SOMOS</a></li>
            <li><a href="../contacto.html" class="link2">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="logo">
        <img class="logo-adalab" src="./images/logo-adalab.png" alt="logo-adalab"/>
    </div>
</footer>