<div class="bordesDiagonales">
  <div class="bordeSuperiorDerechoDiagonal">&nbsp;</div>
  <div class="bordeSuperiorIzquierdoDiagonal">&nbsp;</div>
</div>
<section class="fortdeb">
  <div class="parte3">
    <h3 class="tituloDebilidades">Fortalezas</h3>
    <p class="contenidoDebilidades">
      Aun aprendiendo, este equipo vuelca todas sus fuerzas en encontrar la solución más eficaz y funcional a lo que se le pide. Con una gran capacidad de empatía y comprensión, el trabajo en equipo y tener en cuenta el cliente y usuario se vuelve segunda naturaleza para estas desarrolladoras.
    </p>
  </div>
  <div class="parte3">
    <h3 class="tituloDebilidades">Debilidades</h3>
    <p class="contenidoDebilidades">
      A pesar de tener poca experiencia en el campo hasta la fecha, las Spice aportan una nueva visión desde sus anteriores especialidades que dan un giro fresco a los proyectos.
    </p>
  </div>
</section>