<div class="bordesDiagonales">
  <div class="bordeSuperiorDerechoDiagonal">&nbsp;</div>
  <div class="bordeSuperiorIzquierdoDiagonal">&nbsp;</div>
</div>
<section class="fortdeb">
  <div class="parte3">
    <h3 class="tituloDebilidades">Fortalezas</h3>
    <p class="contenidoDebilidades">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nostrum
      totam eos, fugit blanditiis fuga officia ipsa nobis suscipit harum
      temporibus consequuntur ratione ipsum perspiciatis assumenda debitis et?
      Rem, ipsa.
    </p>
  </div>
  <div class="parte3">
    <h3 class="tituloDebilidades">Debilidades</h3>
    <p class="contenidoDebilidades">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci nostrum
      totam eos, fugit blanditiis fuga officia ipsa nobis suscipit harum
      temporibus consequuntur ratione ipsum perspiciatis assumenda debitis et?
      Rem, ipsa.
    </p>
  </div>
</section>