<article class="namecard">
    <img src="" alt="foto adalaber" class="photo">
    <div class="text-quien">
        <h4>Diana</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi ullam tempore laboriosam! Eum mollitia fuga odit doloremque ipsa sed accusamus fugit repudiandae maiores, quae ratione, pariatur sit ullam earum.</p>
        <nav>
            <ul class="redes">
                 <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
             </ul>
        </nav>
    </div>
</article>