<section class="quienessomos" id="quienessomos">
    <h2>QUIENES SOMOS</h2>

   <load src="/partials/namecard.html"
        class="odd"
        photo="./images/elena.jpeg" 
        name="Elena Alcaraz" 
        description="Después de toda una vida inmersa en el mundo de la música, decidida a dar un giro radical a su vida, embarcándose en una nueva aventura como programadora. La pasión por la tecnología y el deseo de desafiar los límites impulsan a explorar este emocionante camino, con nuevas oportunidades y crecimiento personal." 
        insta="https://www.instagram.com/elena.alcaraz_/" 
        linkedin="https://www.linkedin.com/in/elena-alcaraz-martin" github="https://github.com/elena-alcaraz" 
        email="mailto:elena.alcaraz.martin@gmail.com"
    />

    <load src="/partials/namecard.html"
        class="even" 
        photo="./images/diana-profile.jpeg"
        name="Diana Bernardos" 
        description="Recién llegada al mundo tech, trabajando maquetación en HTML, CSS y Java-Script, y poniendo a disposición de este gremio su creatividad, ilusión y perseverancia en sus proyectos para conseguir el mejor de los resultados." 
        insta="https://www.instagram.com/dianilla75" 
        linkedin="#" 
        github="https://github.com/Diana-Bernardos" 
        email="mailto:dianilla75@gmail.com"
    />

    <load src="/partials/namecard.html"
        class="odd" 
        photo="./images/francisca-profile.jpeg"
        name="Francisca Espinoza" 
        description="Mamá de dos pequeños, con un cambio de país, pasando de la psicología a algo absolutamente nuevo como el área  de la tecnología. Descubriendo un mundo tech lleno de posibilidades, innovación, de un excelente trabajo de equipo que marca la diferencia." 
        insta="#" 
        linkedin="http://www.linkedin.com/in/maría-francisca-espinoza" 
        github="https://github.com/mfranes" 
        email="mailto:emariafrancisca@gmail.com"
    />

    <load src="/partials/namecard.html"
        class="even" 
        photo="./images/shama-profile.jpg"
        name="Shama Garijo" 
        description="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati ipsam, placeat veritatis facilis
            sapiente harum porro sed in sunt iste consectetur quas, ut dolorem quibusdam. Distinctio quidem modi
            expedita corrupti." 
        insta="https://www.instagram.com/shamalopithecus/" 
        linkedin="https://www.linkedin.com/in/shama-garijo-gómez" 
        github="https://github.com/ishtaronearth" 
        email="mailto:ishtarblooming@gmail.com"
    />

    <load src="/partials/namecard.html"
        class="odd" 
        photo="./images/ellis-profile.JPG"
        name="Ellis Whitney" 
        description="Con 10+ años de experiencia en el mundo del arte y diseño y en el ámbito de la educación, ahora amplia sus conocimientos adentrándose en la programación y desarrollo web. Busca combinar todas sus vivencias para crear nuevos proyectos que llegan al mismo nivel de exigencia y ambición que todo lo que se ha propuesto hasta ahora."
        insta="https://instagram.com/ellisoalgo" 
        linkedin="https://www.linkedin.com/in/elliswhitney/" 
        github="https://github.com/ellisoalgo" 
        email="mailto:ellisjwhitney@gmail.com"
    /> 

</section>