<section class="quienessomos">
    <h2>QUIENES SOMOS</h2>

    <load src="/partials/namecard.html" 
        class="namecard1"
        photo="" 
        name="Elena Alcaraz" 
        description="lorem" 
        insta="https://www.instagram.com/elena.alcaraz_/" 
        linkedin="https://www.linkedin.com/in/elena-alcaraz-martin" github="https://github.com/elena-alcaraz" 
        email="elena.alcaraz.martin@gmail.com"
    />

    <load src="/partials/namecard.html" 
        class="namecard2" 
        photo=""
        name="Diana Bernardos" 
        description="lorem" 
        insta="https://www.instagram.com/dianilla75" 
        linkedin="" 
        github="https://github.com/Diana-Bernardos" 
        email="dianilla75@gmail.com"
    />

    <load src="/partials/namecard.html" 
        class="namecard1" 
        photo=""
        name="Francisca Espinoza" 
        description="lorem" 
        insta="" 
        linkedin="http://www.linkedin.com/in/maría-francisca-espinoza" 
        github="" 
        email="emariafrancisca@gmail.com"
    />

    <load src="/partials/namecard.html" 
        class="namecard2" 
        photo=""
        name="Shama Garijo" 
        description="lorem" 
        insta="" 
        linkedin="" 
        github="" 
        email=""
    />

    <load src="/partials/namecard.html" 
        class="namecard1" 
        photo=""
        name="Ellis Whitney" 
        description="lorem" 
        insta="https://instagram.com/ellisoalgo" 
        linkedin="https://www.linkedin.com/in/elliswhitney/" 
        github="https://github.com/ellisoalgo" 
        email="ellisjwhitney@gmail.com"
    />

</section>