<section class="quienessomos">
    <h2>QUIENES SOMOS</h2>
    <article class="namecard">
        <img src="" alt="foto adalaber" class="photo">
        <div class="text-quien">
            <h4>Elena</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores excepturi ut quasi accusamus quos magni vel placeat laborum, sint dicta quae natus ad aliquid ipsum sed pariatur error minima sequi.</p>
            <nav>
                <ul class="redes">
                    <li>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="namecard">
        <img src="" alt="foto adalaber" class="photo">
        <div class="text-quien">
            <h4>Diana</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi ullam tempore laboriosam! Eum mollitia fuga odit doloremque ipsa sed accusamus fugit repudiandae maiores, quae ratione, pariatur sit ullam earum.</p>
            <nav>
                <ul class="redes">
                     <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                 </ul>
            </nav>
        </div>
    </article>
    <article class="namecard">
        <img src="" alt="foto adalaber" class="photo">
        <div class="text-quien">
            <h4>Francisca</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quae dolor quibusdam amet similique iusto perspiciatis commodi eius illum sapiente animi perferendis laboriosam quidem, enim quod, alias fuga! Dicta, dolorem!</p>
            <nav>
                <ul class="redes">
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article class="namecard">
        <img src="" alt="foto adalaber" class="photo">
        <div class="text-quien">
            <h4>Shama</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum, excepturi? Non mollitia odio, earum et unde odit. Nisi, nobis illo eaque culpa voluptate voluptatibus nam sed inventore earum iusto itaque?</p>
            <nav>
                <ul class="redes">
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
    <article>
        <img src="" alt="foto adalaber" class="photo">
        <div class="text-quien">
            <h4>Ellis</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, voluptatem ratione aut eveniet ipsam natus obcaecati esse, mollitia error velit veritatis nobis nam officia minus exercitationem non amet fuga. Odit?</p>
            <nav>
                <ul class="redes">
                    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-github-alt"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
            </nav>
        </div>
    </article>
</section>