/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';
@import "layout/banner";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-font: "rubik", Sans-Serif;
    --grisoscuro: #54585a;
    --gristransp: rgba(0, 0, 0, 0.08); /*solo para borde de las fotos*/
    --verdeclaro: #14d9c4;
    --verdeoscuro: #099d8d;
    --grisfondo: #b8b8b9;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header {
    font-family: var(--brand-font);
    color: white;
}
h1 {
    background-color: var(--verdeoscuro);
    font-size: 22px;
    font-weight: 450;
    letter-spacing: 1px;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navheader {
    background-color: var(--verdeclaro);
    font-weight: 500;
    letter-spacing: 0px;
}


.menu {
    display: flex; 
    gap: 15px; 
    list-style: none;
    justify-content: space-between;
    padding: 4%;
}
.banner{
    display:block;
    margin-left: auto;
    margin-right: auto;
    

    
  }
  img{
    
    width: 430px;
    margin-left: auto;
    margin-right: auto;

  }

  .imgbanner{
    display: flex;
    justify-content:center;
    display:grid;
    opacity: 0.5;
    place-content:100%;
    
    
   
}
 
  h4{
      text-align: end;
      position:relative;
      right: 50%;
      transform:translate(10%,-100%) ;
      padding: 30px;
      color: black

  }
  .span{
    display: flex;
    margin: 25px;
    height: 30px;
  }

footer {
    font-family: var(--brand-font);
    font-size: 16px;
    display: block;
    align-items: center;
    text-align: center;
}
.license {
    color: var(--grisfondo);
    font-weight: 100;
}
.navfooter {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menufooter {
    list-style: none;
    font-size: 12px;
    color: #54585a;
    line-height: 18px;
}
.logo-adalab {
    width: 90px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: none;
}
.link1 {
    color: white;
    cursor: pointer;
}
.link2 {
    color: #54585a;
    cursor: pointer;
}
.equipo {
    font-family: var(--brand-font);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
    gap: 30px;
    border: 1px solid #54585a;
}

.tituloequipo {
    display: block;
    font-size: 24px;
    color: var(--verdeclaro);
    padding: 5px;
}

.textequipo {
    display: block;
    font-size: 16px;
    color: var(--grisoscuro);
}

.textequipo p {
    text-align: center;
    margin-bottom: 15px;
    
}

.fortdeb {
    background-color: #b8b8b9;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 15px;
}
    
.for {
        color: #099d8d;
        background-color: #b8b8b9;
        padding: 10px
        }

.parte3 {
    text-align: center;
    font-family: var(--brand-font);
}
.titulo3 {
    color: #099d8d;
}
.conte{
    background-color: #b8b8b9;
    padding: 15px;
}

@media all and (min-width: 768px) {
    .equipo {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 30px;
        padding-top: 45px;
    }
    .textequipo {
        font-size: 16px;
    }
    .tituloequipo {
        font-size: 24px;
    }
}
@media all and (min-width: 320px){

    .imgbanner{
        display:block;
        align-items: center;
          
    
    }
    img{
        height:100%;
    }
    .banner{
        display:flex;
        margin-left: auto;
        margin-right: auto;

    }
}

@media all and (min-width: 1200px) {

}
@media all and (min-width: 780px){

    .imgbanner{
        display: block;
        align-items: center;
     
    }
    img{
       min-width: 820px;
    }
    .banner{
        display:flex;
        margin-left: auto;
        margin-right: auto;
    

    }
}

    @media all and (min-width: 1200px){

        .imgbanner{
            display:flex;
            align-items: center;

        }
        img{
            max-width: 1300px;
        }
        .banner{
            display:flex;
            margin-left: auto;
            margin-right: auto;
    
        }
    }

    