/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-font: "Rubik", Sans-Serif;
    --grisoscuro: #54585a;
    --gristransp: rgba(0, 0, 0, 0.08); /*solo para borde de las fotos*/
    --verdeclaro: #14d9c4;
    --verdeoscuro: #099d8d;
    --grisfondo: #b8b8b9;
}

@import "layout/header.scss";
@import "layout/banner.scss";
@import "layout/equipo.scss";
@import "layout/fortdeb.scss";
@import "layout/quienessomos";
@import "layout/footer.scss";

