/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

@import 'core/reset';




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --brand-font: "rubik", Sans-Serif;
    --grisoscuro: #54585a;
    --gristransp: rgba(0, 0, 0, 0.08); /*solo para borde de las fotos*/
    --verdeclaro: #14d9c4;
    --verdeoscuro: #099d8d;
    --grisfondo: #b8b8b9;
}

@import "layout/header.scss";
@import "layout/banner.scss";
@import "layout/equipo.scss";
@import "layout/quienessomos";

.fortdeb {
    background-color: #b8b8b9;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 15px;
}
    
.for {
        color: #099d8d;
        background-color: #b8b8b9;
        padding: 10px
        }

.parte3 {
    text-align: center;
    font-family: var(--brand-font);
}
.titulo3 {
    color: #099d8d;
}
.conte{
    background-color: #b8b8b9;
    padding: 15px;
}

